CREATE TABLE consumers (
    consumer_id INTEGER PRIMARY KEY,
    created_at TEXT,
    line_consumer_id TEXT UNIQUE,
    stripe_customer_id TEXT,
    registration_status TEXT,
    is_friend INTEGER
);
CREATE TABLE farms (
    farm_id INTEGER PRIMARY KEY,
    last_name TEXT,
    first_name TEXT,
    last_kana TEXT,
    first_kana TEXT,
    phone TEXT,
    farmer_line_id TEXT,
    is_friend INTEGER,
    name TEXT NOT NULL,
    description TEXT,
    postal_code TEXT,
    address TEXT,
    map_url TEXT,
    lat REAL,
    lng REAL,
    price_5kg INTEGER,
    price_10kg INTEGER,
    price_25kg INTEGER,
    pickup_location TEXT,
    pickup_time TEXT,
    pickup_lat REAL,
    pickup_lng REAL,
    pickup_place_name TEXT,
    pickup_notes TEXT,
    active_flag INTEGER NOT NULL DEFAULT 1,
    is_public INTEGER NOT NULL DEFAULT 0,
    is_accepting_reservations INTEGER NOT NULL DEFAULT 0,
    admin_note TEXT,
    rice_variety_label TEXT,
    harvest_year TEXT,
    pr_title TEXT,
    pr_text TEXT,
    face_image_url TEXT,
    cover_image_url TEXT,
    pr_images_json TEXT,
    monthly_upload_bytes INTEGER DEFAULT 0,
    monthly_upload_limit INTEGER DEFAULT 150000000,
    next_reset_at TEXT,
    first_activated_at TEXT
);
CREATE TABLE reservations (
    reservation_id INTEGER PRIMARY KEY AUTOINCREMENT,
    consumer_id INTEGER,
    farm_id INTEGER,
    item TEXT,
    quantity INTEGER,
    price FLOAT,
    amount FLOAT,
    status VARCHAR(32),
    created_at DATETIME,
    paid_service_fee BOOLEAN DEFAULT 0,
    payment_intent_id VARCHAR(100),
    payment_status VARCHAR(50),
    payment_succeeded_at DATETIME,
    pickup_slot_code VARCHAR(32),
    items_json TEXT,
    rice_subtotal INTEGER,
    service_fee INTEGER,
    currency VARCHAR(10) DEFAULT 'jpy',
    FOREIGN KEY (consumer_id) REFERENCES consumers(consumer_id),
    FOREIGN KEY (farm_id) REFERENCES farms(farm_id)
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE notification_jobs (
    job_id INTEGER PRIMARY KEY AUTOINCREMENT,
    reservation_id INTEGER NOT NULL,
    kind TEXT NOT NULL CHECK (
        kind IN ('CONFIRMATION', 'REMINDER', 'CANCEL_COMPLETED')
    ),
    scheduled_at TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT 'PENDING',
    attempt_count INTEGER NOT NULL DEFAULT 0,
    last_error TEXT,
    created_at TEXT NOT NULL,
    updated_at TEXT NOT NULL,
    FOREIGN KEY (reservation_id)
        REFERENCES reservations(reservation_id)
);
